/**** CSS PARA EL LOGIN *****/

@import url(http://fonts.googleapis.com/css?family=Open+Sans:300,400,700);

*{margin:0;padding:0;}

body{
  /*background:#f6e1c3;*/
  background:#fff;
  font-family:'Open Sans',sans-serif;
}

.button{
  width:100px;
  background:#e67e22;
  display:block;
  margin:0 auto;
  margin-top:1%;
  padding:10px;
  text-align:center;
  text-decoration:none;
  color:#fff;
  cursor:pointer;
  transition:background .3s;
  -webkit-transition:background .3s;
}

.button:hover{
  background:#e67e22;
}

#login{
  width:400px;
  /*margin:0 auto;
  margin-top:8px;
  margin-bottom:2%;*/
  transition:opacity 1s;
  -webkit-transition:opacity 1s;
   margin: auto;
  position: absolute;
  top: 0; left: 0; bottom: 0; right: 0;
  height:400px;
}


#login h1{
  background:#e67e22;
  padding:20px 0;
  font-size:140%;
  font-weight:300;
  text-align:center;
  color:#fff;
}

form{
  background:#f0f0f0;
  padding:6% 4%;
}

input[type="text"],input[type="password"]{
  width:92%;
  background:#fff;
  margin-bottom:4%;
  border:1px solid #ccc;
  padding:4%;
  font-family:'Open Sans',sans-serif;
  font-size:95%;
  color:#555;
}

input[type="submit"]{
  width:100%;
  background:#e67e22;
  border:0;
  padding:4%;
  font-family:'Open Sans',sans-serif;
  font-size:100%;
  color:#fff;
  cursor:pointer;
  transition:background .3s;
  -webkit-transition:background .3s;
}

input[type="submit"]:hover{
  background:#FCAF6B;
}

.naranja {
    color: #e67e22;
}

.azul {
    color: #357ebd;
}



/***************************/